{% extends "base.html" %}
{% block content %}

<section>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-2xl mx-auto py-16 sm:py-24 lg:py-32 lg:max-w-none">

      <h2 class="text-6xl font-extrabold text-blue-500">Paths</h2>

      <div class="mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6">
        <div class="group relative">

          <div
            class="relative w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
            <img src="static/section-img1.jpg"
              alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug."
              class="w-full h-full object-center object-cover" />
          </div>

          <h3 class="mt-6 text-sm text-blue-400">
            <a href="#">
              <span class="absolute inset-0"></span>
              Outsource Stellar Developers
            </a>
          </h3>

          <p class="text-base font-semibold text-gray-900 mt-2">
            Here at Electrogineer we orchestrate efficient large-scale
            software deployments that will make your company extrememly
            competitive in the marketplace.
          </p>

          <button
            class="bg-blue-400 rounded-full py-3 px-6 mt-6 hover:bg-gray-400 hover:underline transition duration-500    ease-in-out transform hover:-translate-y-1 hover:scale-110">
            Meet Our Developers
            <i class="bi bi-laptop-fill ml-1"></i>
          </button>
        </div>

        <div class="group relative">
          <div
            class="relative w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">

            <img src="static/section-img2.jpg"
              alt="Wood table with porcelain mug, leather journal, brass pen, leather key ring, and a houseplant."
              class="w-full h-full object-center object-cover" />
          </div>

          <h3 class="mt-6 text-sm text-blue-400">
            <a href="#">
              <span class="absolute inset-0"></span>
              Software Consulting
            </a>
          </h3>

          <p class="text-base font-semibold text-gray-900 mt-2">
            Develop complex solutions to all business problems along with
            customer engagements by detailed analysis, and offer
            sophisticated documents to support client-ready services.
          </p>

          <button
            class="bg-blue-400 rounded-full py-3 px-6 mt-6 hover:bg-gray-400 hover:underline transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
            Meet Our Consultants
            <i class="bi bi-envelope-fill ml-1"></i>
          </button>
        </div>

        <div class="group relative">

          <div
            class="relative w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
            <img src="static/section-img3.jpg" alt="Collection of four insulated travel bottles on wooden shelf."
              class="w-full h-full object-center object-cover" />
          </div>

          <h3 class="mt-6 text-sm text-blue-400">
            <a href="#">
              <span class="absolute inset-0"></span>
              Device Engineering
            </a>
          </h3>

          <p class="text-base font-semibold text-gray-900 mt-2">
            We supply end-user assistance in hardware installations,
            electronic water damage, data recovery & backup, recovery
            images, virus removal, and network support.
          </p>

          <button
            class="bg-blue-400 rounded-full py-3 px-6 mt-6 hover:bg-gray-400 hover:underline transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
            Meet Our Technicians
            <i class="bi bi-hammer ml-1"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-20">
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:mx-80">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <h2 class="text-6xl font-extrabold text-blue-500 mb-6">Team</h2>
        <div class="shadow overflow-hidden border-b border-gray-200sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">

            <thead class="bg-gray-50">
              <tr>

                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercasetracking-wider">
                  Name
                </th>

                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Title
                </th>

                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Status
                </th>

                <th scope="col"
                  class="px-12 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Role
                </th>

                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">Edit</span>
                </th>

              </tr>
            </thead>

            <tbody class="bg-white divide-y divide-gray-200">
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">

                    <div class="flex-shrink-0 h-10 w-10">
                      <img class="h-10 w-10 rounded-full" src="static/engineer1.jpg" alt="" />
                    </div>

                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        John Campbell
                      </div>
                      <div class="text-sm text-gray-500">
                        john.campbell@electrogineer.com
                      </div>
                    </div>

                  </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">

                  <div class="text-sm text-gray-900">
                    Principal Engineer
                  </div>

                  <div class="text-sm text-gray-500">Design</div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    Active
                  </span>
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-right pr-8">
                  Overseer
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <a href="#" class="text-blue-500 hover:text-green-400">Meet John</a>
                </td>

              </tr>

              <tr>
                <td class="px-6 py-4 whitespace-nowrap">

                  <div class="flex items-center">

                    <div class="flex-shrink-0 h-10 w-10">
                      <img class="h-10 w-10 rounded-full" src="static/engineer2.jpg" alt="" />
                    </div>

                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        Patrick Garvin
                      </div>

                      <div class="text-sm text-gray-500">
                        patrick.garvin@electrogineer.com
                      </div>

                    </div>
                  </div>

                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">Senior Engineer</div>
                  <div class="text-sm text-gray-500">Design</div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    Active
                  </span>
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-right pr-8">
                  Overseer
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <a href="#" class="text-blue-500 hover:text-green-400">Meet Patrick</a>
                </td>

              </tr>

              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">

                    <div class="flex-shrink-0 h-10 w-10">
                      <img class="h-10 w-10 rounded-full" src="static/engineer3.jpg" alt="" />
                    </div>

                    <div class="ml-4">

                      <div class="text-sm font-medium text-gray-900">
                        Miyu Yang
                      </div>

                      <div class="text-sm text-gray-500">
                        miyu.yang@electrogineer.com
                      </div>

                    </div>

                  </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">Engineer III</div>
                  <div class="text-sm text-gray-500">Development</div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    Active
                  </span>
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-right pr-7">
                  Developer
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <a href="#" class="text-blue-500 hover:text-green-400">Meet Miyu</a>
                </td>

              </tr>

              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">

                    <div class="flex-shrink-0 h-10 w-10">
                      <img class="h-10 w-10 rounded-full" src="static/engineer4.jpg" alt="" />
                    </div>

                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        Michael Peters
                      </div>

                      <div class="text-sm text-gray-500">
                        michael.peters@electrogineer.com
                      </div>
                    </div>

                  </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">Engineer II</div>
                  <div class="text-sm text-gray-500">Development</div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    Active
                  </span>
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-right pr-7">
                  Developer
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <a href="#" class="text-blue-500 hover:text-green-400">Meet Michael</a>
                </td>
              </tr>

              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">

                    <div class="flex-shrink-0 h-10 w-10">
                      <img class="h-10 w-10 rounded-full" src="static/engineer5.jpg" alt="" />
                    </div>

                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        Jeannie Stewart
                      </div>

                      <div class="text-sm text-gray-500">
                        jeannie.stewart@electrogineer.com
                      </div>

                    </div>
                  </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">Device Engineer</div>
                  <div class="text-sm text-gray-500">Repair</div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    Active
                  </span>
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-right pr-7">
                  Technician
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <a href="#" class="text-blue-500 hover:text-green-400">Meet Jeannie</a>
                </td>
              </tr>

              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">

                    <div class="flex-shrink-0 h-10 w-10">
                      <img class="h-10 w-10 rounded-full" src="static/engineer6.jpg" alt="" />
                    </div>

                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        James Washington
                      </div>

                      <div class="text-sm text-gray-500">
                        james.washington@electrogineer.com
                      </div>
                    </div>
                  </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">Device Engineer</div>
                  <div class="text-sm text-gray-500">Repair</div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    Active
                  </span>
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-right pr-7">
                  Technician
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <a href="#" class="text-blue-500 hover:text-green-400">Meet James</a>
                </td>
              </tr>

              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">

                    <div class="flex-shrink-0 h-10 w-10">
                      <img class="h-10 w-10 rounded-full" src="static/consultant.jpg" alt="" />
                    </div>

                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        Isabella Eisenhart
                      </div>
                      <div class="text-sm text-gray-500">
                        isabella.eisenhart@electrogineer.com
                      </div>
                    </div>
                  </div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">Consultant</div>
                  <div class="text-sm text-gray-500">Consulting</div>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <span
                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    Active
                  </span>
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-right pr-11">
                  Agent
                </td>

                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <a href="#" class="text-blue-500 hover:text-green-400">Meet Isabella</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-16">

  <div class="max-w-2xl mx-auto py-24 px-4 grid items-center grid-cols-1 gap-y-16 gap-x-8 sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8 lg:grid-cols-2">

    <div>

      <h2 class="text-5xl font-extrabold tracking-tight text-blue-500 sm:text-7xl">
        How it works
      </h2>

      <p class="mt-4 text-gray-500">3 Easy Steps</p>

      <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">

        <div class="pt-4">
          <p class="-mt-8 font-bold">Web Application Process</p>

          <dt class="font-medium text-gray-900 border-t border-gray-200 pt-4">
            Submit Application Specifications
          </dt>

          <dd class="mt-2 text-sm text-gray-500 pb-8">
            Requirement Analysis | Design & Usability Frameworks | Database
          </dd>
          
          <dt class="font-medium text-gray-900 border-t border-gray-200 pt-4">
            We Build Your Application
          </dt>
          
          <dd class="mt-2 text-sm text-gray-500 pb-8">
            Highly maintainable code for software systems in addition to using core frameworks to enhance product
            development
          </dd>

          <dt class="font-medium text-gray-900 border-t border-gray-200 pt-4">
            Deploy Your Application
          </dt>
          
          <dd class="mt-2 text-sm text-gray-500 mb-8">
            Secured Servers | Custom Domain
          </dd>

          <a href="" class="text-base font-medium underline text-blue-500 hover:no-underline">START WEB APP PROCESS
            &rarr;</a>

        </div>

        <div class="pt-4">

          <p class="-mt-8 font-bold">Device Repair Process</p>

          <dt class="font-medium text-gray-900 border-t border-gray-200 pt-4">
            Ship Us Your Broken Device
          </dt>

          <dd class="mt-2 text-sm text-gray-500 pb-8">
            Free Shipping | Fast Returns | No Delay <br> No Extra Parts Required | No Hidden Fees
          </dd>

          <dt class="font-medium text-gray-900 border-t border-gray-200 pt-4">
            We Repair Your Device
          </dt>
          
          <dd class="mt-2 text-sm text-gray-500 mb-12 pb-1">
            Reconstructing your broken computers and technological equipment, saving you money
          </dd>

          <dt class="font-medium text-gray-900 border-t border-gray-200 pt-4">
            Receive Your Working Device
          </dt>
          
          <dd class="mt-2 text-sm text-gray-500 mb-8">
            Made from natural materials.
          </dd>

          <a href="" class="text-base font-medium underline text-blue-500 hover:no-underline">START REPAIR PROCESS
            &rarr;</a>

        </div>
      </dl>
    </div>

    <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
      <img src="static/how-it-works.jpg"
        alt="Walnut card tray with white powder coated steel divider and 3 punchout holes."
        class="bg-gray-100 rounded-lg" />
      <img src="static/how-it-works2.jpg" alt="Top down view of walnut card tray with embedded magnets and card groove."
        class="bg-gray-100 rounded-lg" />
      <img src="static/how-it-works3.jpg" alt="Side of walnut card tray with card groove and recessed card area."
        class="bg-gray-100 rounded-lg" />
      <img src="static/how-it-works4.jpg" alt="Walnut card tray filled with cards and card angled in dedicated groove."
        class="bg-gray-100 rounded-lg" />
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4 justify-items-center sm:grid-cols-2">

    <div class="-space-x-2 overflow-hidden sm:justify-self-end pt-4">
      <img class="inline-block h-10 w-10 rounded-full ring-2 ring-white" src="static/repair-char.jpg" alt="" />
      <img class="inline-block h-10 w-10 rounded-full ring-2 ring-white" src="static/repair-char2.jpg" alt="" />
      <img class="inline-block h-10 w-10 rounded-full ring-2 ring-white" src="static/repair-char3.jpg" alt="" />
      <img class="inline-block h-10 w-10 rounded-full ring-2 ring-white" src="static/repair-char4.jpg" alt="" />
      <img class="inline-block h-10 w-10 rounded-full ring-2 ring-white" src="static/repair-char5.jpg" alt="" />
    </div>

    <div class="sm:justify-self-start sm:ml-7">
      <p class="font-bold text-blue-500 text-3xl text-center">50,000+</p>
      <p class="font-bold text-lg">Devices Repaired</p>
    </div>


    <div class="-space-x-2 overflow-hidden sm:justify-self-end pt-4">
      <img class="inline-block h-10 w-10 rounded-full ring-2 ring-white" src="static/webapp-char.jpg" alt="" />
      <img class="inline-block h-10 w-10 rounded-full ring-2 ring-white" src="static/webapp-char2.jpg" alt="" />
      <img class="inline-block h-10 w-10 rounded-full ring-2 ring-white" src="static/webapp-char3.jpg" alt="" />
      <img class="inline-block h-10 w-10 rounded-full ring-2 ring-white" src="static/webapp-char4.jpg" alt="" />
      <img class="inline-block h-10 w-10 rounded-full ring-2 ring-white" src="static/webapp-char5.jpg" alt="" />
    </div>


    <div class="sm:justify-self-start">
      <p class="font-bold text-blue-500 text-3xl text-center">5,000+</p>
      <p class="font-bold text-lg">Web Applications Built</p>
    </div>


  </div>
</section>

<section class="mt-44 mb-40">
  <div class="relative bg-white overflow-hidden">
    <div class="max-w-7xl mx-auto">
      <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">

        <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
          fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
          <polygon points="50,0 100,0 50,100 0,100" />
        </svg>

        <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
          <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">

            <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">

              <div class="flex items-center justify-between w-full md:w-auto">
                <div class="-mr-2 flex items-center md:hidden"></div>
              </div>

            </div>
          </nav>
        </div>

        <div class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
          <div class="sm:text-center lg:text-left">

            <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
              <span class="block xl:inline leading-tight">Expert engineers for</span>
              <span class="block text-blue-500 xl:inline">online businesses</span>
            </h1>

            <p
              class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
              Designing your company's architecture and platform through
              analysis and simulation of prototypes and 3D computer models
              to conceptualize a more refined product
            </p>

            <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
              <div class="rounded-md shadow">

                <a href="#"
                  class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-500 hover:bg-blue-800 md:py-4 md:text-lg md:px-10 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                  Get started
                </a>

              </div>

              <div class="mt-3 sm:mt-0 sm:ml-3">

                <a href="#"
                  class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-blue-500 bg-blue-100 hover:bg-blue-200 md:py-4 md:text-lg md:px-10 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                  Learn More
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="lg:absolute lg:inset-y-0 lg:right-64 lg:w-1/2">
      <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="static/expert-engineers.jpg"
        alt="" />
    </div>

  </div>
</section>

{% endblock %}